# Java
java/target/
java-plugins/target/
*.class
*.jar
.idea/
*.iml

# TypeScript
ts/node_modules/
ts/dist/
ts-plugins/node_modules/
ts-plugins/dist/

# Rust
rust/target/
rust-plugins/target/

# OS
.DS_Store
node_modules/
