# Java
lang/java/target/
lang/java-plugins/target/
*.class
*.jar
.idea/
*.iml

# TypeScript
lang/ts/node_modules/
lang/ts/dist/
lang/ts-plugins/node_modules/
lang/ts-plugins/dist/

# Rust
lang/rust/target/
lang/rust-plugins/target/

# OS
.DS_Store
node_modules/
